div {
  margin-top: 45px;
  height: 200px;
  width: 400px;
  background-color: red;
  border: 5px solid black;
}

.transform:hover {
  transform: skew(25deg, 10deg);
}
.transform1:hover {
  transform: scale(1.2);
}

.transform2:hover {
  -webkit-transform: perspective(300) rotateX(8deg);
}
