.counter-reset {
  counter-reset: meuContador;
}
.print-counter::after {
  content: counter(meuContador);
}
.up-counter:hover {
  counter-increment: meuContador + 1;
}

/* .up-counter:hover {
  counter-increment: meuContador;
}

.up-counter:hover {
  background-color: blue;
  counter-increment: meuContador;
}

.teste:hover {
  background-color: red;
} */
